.series0.chart-symbol { /* solid square running task */
    -fx-background-color: #ffcc00;
    -fx-background-radius: 30px;
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-shape: "M 20.0 20.0  v24.0 h 10.0  v-24   Z";
    -fx-padding: 5px 5px 5px 5px;
}

.series1.chart-symbol { /* solid triangle up arrow */
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M 50,5 95,97.5 5,97.5 z";
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;

}
.series2.chart-symbol { /* solid triangle down arrow */
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M 50,97.5 95,5 5,5 z";
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.series3.chart-symbol { /* solid triangle left arrow */
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M 5,50 97.5,5 97.5,95 Z";
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.series4.chart-symbol { /* solid triangle right arrow */
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M 95,50 5,95 5,5 z";
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}







